<h2>All Products</h2>
<table border="1" cellpadding="10">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Image</th>
    <th>Actions</th>
  </tr>
  {{#each products}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>₹{{this.price}}</td>
      <td><img src="{{this.image}}" alt="{{this.name}}" width="80" /></td>
      <td>
        <a href="/admin/products/edit/{{this._id}}">Edit</a> |
        <a href="/admin/products/delete/{{this._id}}" onclick="return confirm('Are you sure?')">Delete</a>
      </td>
    </tr>
  {{/each}}
</table>
