<h2>Available Products</h2>
<div>
  {{#each products}}
    <div>
      <h3>{{this.name}}</h3>
      <p>{{this.description}}</p>
      <p>Price: ₹{{this.price}}</p>
      <img src="{{this.image}}" alt="{{this.name}}" width="150" />
    </div>
  {{/each}}
</div>
